@{
    ViewBag.Title = "Home Page";
}
<div>
    <span>接口：</span>
    值：<span id="value"></span>
</div>
@Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
<script>
    $(function() {
        //$.ajax({
        //    type: "GET",
        //    url: "http://localhost:57680/api/Base/login",
        //    data: { userName: "123", pwd: "123", signature: "7a79903063e64006ca82f26678619e2deb2116a6", timeStamp: "2017-2-9", nonce: "5", appid: "123" },
        //    success: function (data) {
        //        $("#value").html(data.token);
        //    },
        //    error: function () {
        //        alert(data.Msg);
        //    }
        //});
        $.ajax({
            type: "POST",
            url: "http://localhost:57680/api/Base/Register",
            data: { UserName: "111", Pwd: "111", HeadImgUrl: "1"},
            success: function (data) {
                $("#value").html(data.IsSuccess);
            },
            error: function () {
                alert(data.Msg);
            }
        });
    })
</script>